button.revert-damage {
    background: var(--bg-dark);
    display: inline-flex;
    justify-content: center;
    width: 3ch;
    margin-left: 2px;
}

div.damageButton > button {
    display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  background: RGB(76 74 90);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  height: 20px;
  line-height: 20px;
  padding: 0px;
  font-variant: small-caps;
}